* {
  font-family: sans-serif;
  margin: 0;
  color: rgb(53, 53, 53);
}
body {
  display: flex;
  flex-direction: column;
  background-color: #e6e6fa;
}
h1 {
  background-color: #141518;
  color: #e6e6fa;
  text-align: center;
  padding: 10px;
}
.input-contsiner {
  background-color: #141518;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.file-input {
  margin-bottom: 10px;
  font-size: 15px;
}
textarea {
  color: whitesmoke;
  outline: none;
  height: 200px;
  width: 400px;
  background-color: transparent;
  resize: none;
  border: 2.5px solid #e6e6fa88;
  padding: 7.5px;
  font-size: 15px;
}
button {
  outline: none;
  background-color: transparent;
  font-size: 20px;
  color: #e6e6fa;
  border: 2.5px solid #e6e6fa88;
  margin-top: 10px;
}
button:hover {
  cursor: pointer;
}
.image-display-container {
  margin: auto;
  margin-top: 25px;
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  /* background-color: antiquewhite; */
}
.container {
  margin-bottom: 25px;
  width: 225px;
  height: 175px;
  box-shadow: 0 0 5px 1px gray;
}
.container:hover {
  cursor: pointer;
  transform: scale(1.025);
  opacity: 0.9;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}
